<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias alias="TestDto" type="com.test.domain.TestDto"/>
        <typeAlias alias="Board" type="com.test.domain.Board"/>
        <typeAlias alias="CommentDto" type="com.test.domain.CommentDto"/>
        <typeAlias alias="SearchCondition" type="com.test.domain.SearchCondition"/>
        <typeAlias alias="User" type="com.test.domain.User"/>
        <typeAlias alias="Spao" type="com.test.domain.Spao"/>
    </typeAliases>
</configuration>